html{
    font-family: "Noto Sans JP";
}

.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 80px;
    width: 100%;
    position:fixed;
    background-color: rgb(255, 255, 255);
    z-index: 900;
}


.header-ul{
    display:flex ;
    list-style: none;
    align-items:center;
}

.header-li{
    margin-left: 32px;
}

a{
    text-decoration: none;
    color: #666666;
}

.header-li-icon{
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    padding:16px;
    font-size:0;
}

.hero{
    padding-top: 90px;
    background-image: url(../img/quiz/bg-hero.jpg);
    background-size: cover;
    height: 160px;
    width: 1440px;
    position: relative;
}
.hero-posse-work{
    position: absolute;
    top: 110px;
    left: 204px;
    color: #F6F6F6;
}
.hero-quiz{
    position: absolute;
    top: 154px;
    left: 204px;
    color: #F6F6F6;
    font-size: 60px;
    margin-top: 12px;
}
.q1{
    margin: 128px  auto;
    width:  984px;
}
.question-1-pic{
    text-align: center;
    margin-top:76px;
}

.question-1-box{
    width: 85px;
    height: 70px;
    background-color: #0071bc;
    border-radius: 8px;
}

.question-1-letter{
    color: #EEEEEE;
    text-align: center;
    line-height: 70px;
    font-size: 36px;
    font-weight: 700;
}

.question-1-mondai{
    width: 984px;
    height: 108px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin-top: 24px;
}

.answer-1-box{
    width: 58px;
    height: 70px;
    background-color:#E34E70;
    border-radius: 8px;
    margin-top: 72px;
}

.answer-1-letter{
    font-size: 36px;
    font-weight: 700;
    color:#FFFFFF;
    line-height: 70px;
    text-align: center;
}

.options{
    display:flex;
}
.option-1{
    width: 312px;
    height: 80px;
    border-radius: 8px;
    margin: 24px;
    position: relative;
}
.option-2{
    width: 312px;
    height: 80px;
    border-radius: 8px;
    margin: 24px;
    position: relative;
}
.option-3{
    width: 312px;
    height: 80px;
    border-radius: 8px;
    margin: 24px;
    position: relative;
}

.option-1-letter{
    font-size: 24px;
    position: absolute; 
    left: 24px;
}

.option-2-letter{
    font-size: 24px;
    position: absolute; 
    left: 24px;
}

.option-3-letter{
    font-size: 24px;
    position: absolute; 
    left: 24px;
}
.option-arrow{
    position: absolute;
    right: 32px;
}

.reference{
    width: 984px;
    height: 80px;
    background: #F6F6F6;
    border-radius: 8px;
    border: transparent;
    position: relative;
}

.reference-letter{
    width: 411px;
    height: 32px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    margin-left: 64px;
}

.reference-icon{
    width: 25px;
    height: 25px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    top: 25px;
    left: 27px;
}

.line{
    width: 984px;
    height: 357px;
    border-radius: 48px;
    background-image:url(../img/bg-line.jpg) ;
    position: relative;
    margin-top: 140px;
    margin: 0 auto;
    background-size: cover;
}

.line::after{
    content: "";
    background: #0071bc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    border-radius: 48px;
}

.line-box-icon{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 81px;
    left: 327px;
    z-index: 10;
}
.posse-official-line{
    width: 281px;
    height: 65px;
    position: absolute;
    top: 68px;
    left: 375px;
    font-size:36px;
    font-weight: bold;
    line-height: 64.8px;
    color: #FFFFFF;
    z-index: 10;
    margin: 0;
}

.line-comment{
    height:66px;
    width: 535px;
    position:absolute;
    top: 149px;
    left: 229px;
    font-weight: 700;
    font-size: 14px;
    font-style: bold;
    line-height: 22.4px;
    align-items: center;
    color:#FFFFFF;
    text-align: center;
    z-index: 10;
    margin-top:16px;
}
.line-box-button{
    width: 320px;
    height: 50px;
    background-color: white;
    border-radius: 98px;
    margin-top: 24px;
    position: absolute;
    top: 239px;
    left: 339px;
    z-index: 10;}

.line-box-button-letter{
    line-height: 50px;
    margin: 0;
    text-align: center;
    color: #666666;
}

.line-box-button-arrow{ 
    height: 12.25px;
    width: 12.25px;
    position: absolute;
    top: 19px;
    left: 287px;}

.footer{
    position: relative;
}

.footer-bottom-line{
    width: 100%;
    height: 0;
    position: absolute;
    top: 102px;
    border: 1px solid #EEEEEE;
    margin: 0;
}

.footer-logo{
    position: absolute;
    top: 158px;
    left: 630px;
}

.footer-posse-official-site{
    width: 118px;
    height: 25px;
    position: absolute;
    top: 221px;
    left: 635px;
    font-size: 14px;
    color: #666666;
    margin: 0;
}

.footer-arrow{
    position: absolute;
    top: 227px;
    left: 770px;
    width: 12.25px;
    height: 12.25px;
    color: #666666;
}

.footer-instagram{
    position: absolute;
    top: 296px;
    left: 730px;
    color: #666666;
    width: 24px;
    height: 24px;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    padding:16px;
    font-size:0;
}
.footer-twitter{
    position: absolute;
    top: 296px;
    left: 660px;
    color: #666666;
    width: 24px;
    height: 24px;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    padding:16px;
    font-size:0;
}

.footer-bottom-2-line{
    width: 100%;
    height: 0;
    position: absolute;
    top: 376px;
    border: 1px solid #EEEEEE;
    margin: 0;
}

.footer-copyright{
    position: absolute;
    top: 412px;
    left: 679px;
    width: 82px;
    height: 13px;
    font-size: 10px;
    color: #666666;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.1em;
}

/*footerの中身、ロゴと文字整えたら完成*/


/* .hero-pic{
    width: 100%;
    height: 320px;
}


.hero-posse-work{
    width: 96px;
    height: 32px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 180%;
    color: #eff2f5;
    position: absolute;
    top: 190px;
    left: 204px;

}

.IT-quiz{
    width: 236px;
    height: 90px;
    font-size: 60px;
    font-style:normal;
    color: #eff2f5;
    position: absolute;
    top: 234px;
    left: 204px;
} */



/*
.question-1-mondai{
    width: 984px;
    height: 108px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    position: absolute;
    top: 214px;
    left: 228px;
    margin-top: 32px;
}
.question-1-pic{
    width: 700px;
    height: auto;
    position: absolute;
    top: 398px;
    left: 361px;
}
.answer-1-box{
    width: 58px;
    height: 70px;
    background-color:#E34E70;
    border-radius: 8px;
    position: absolute;
    top: 815px;
    left: 244px;
}

.answer-1-letter{
    font-size: 36px;
    font-weight: 700;
    color:#FFFFFF;
    line-height: 70px;
    text-align: center;
}
.options{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.option-1, .option-2, .option-3{
    width: 312px;
    height: 80px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 32.4px;
    font-weight: 700;
    color: #333333;
    background-color: #FFFFFF;
    border: 5px solid #EEEEEE;
    margin-top: 24px;
}

.option-1{
    position: absolute;
    top: 893px;
    left: 228px;
}

.option-2{
    position:absolute;
    top: 893px;
    left: 564px;
}

.option-3{
    position: absolute;
    top: 893px;
    left: 900px;
}
.option-1-letter,.option-2-letter,.option-3-letter{
    position: absolute;
    top: 24px;
    left: 24px;
    vertical-align: middle;
}
.option-arrow{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 32px;
    left: 272px;
}

.reference{
    width: 984px;
    height: 80px;
    position: absolute;
    top: 989px;
    left: 228px;
    background: #F6F6F6;
    border-radius: 8px;
    border: transparent;
}
.reference-icon{
    Width:24.41px;
    Height:11.76px;
    position: absolute;
    top: 32px;
    left: 24px;
}

.reference-letter{
    width: 411px;
    height: 32px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    margin-left: 64px;
} 

.line{
    position: relative;
    background-image: url(../img/bg-line.jpg);
    background-size:cover;
    width: 984px;
    height: 357px;
    border-radius: 48px;
} */
/* .line-box{

    width: 984px;
    height: 357px;
    border-radius: 48px;

} */

/* .line::after{
    content: "";
    background: #0071bc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    border-radius: 48px;
}

.line-box-icon{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 81px;
    left: 327px;
    margin-right: 8px;
}

.line-box-icon::after{
    color: white;
    width: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
}

.posse-official-line{
    width: 281px;
    height: 65px;
    position: absolute;
    left: 375px;
    top: 68px;
    font-size:36px;
    font-weight: bold;
    line-height: 64.8px;
    text-align: center;
    color: red;
    margin: 0px;
}

.line-comment{
    height:66px;
    width: 535px;
    position:absolute;
    top: 149px;
    left: 225px;
    font-weight: 700;
    font-size: 14px;
    font-style: bold;
    line-height: 22.4px;
    align-items: center;
    color: red;
    text-align: center;
}

.line-box-button{
    width: 320px;
    height: 50px;
    background-color: white;
    border-radius: 98px;
    margin-top: 24px;
    position: absolute;
    top: 239px;
    left: 333px;
}

.line-box-button-letter{
    line-height: 50px;
    margin: 0;
    text-align: center;
    color: #666666;
}

.line-box-button-arrow{
    height: 12.25px;
    width: 12.25px;
    position: absolute;
    top: 258px;
    left: 620px;
}


.footer{
    width: 100%;
    height: 355px;
    position: relative;
    position: absolute;
    top: 1875px;
    left: 0px;
    text-align: center;
}

.footer-logo{
    margin: 0 auto;}

.footer-posse-official-site{
    width: 118px;
    height:25px;
    margin: 0 auto;
    font-size: 14px;
    color: gray;
    line-height: 25.2px;
    font-weight: 400;
    margin-top: 24px;
}

.footer-arrow{
    width: 12.25px;
    height: 12.25px;
    color: gray;
    position: absolute;
    top: 65px;
    left: 780px;
}

.footer-copyright{
    width: 82px;
    height: 13px;
    margin: 0 auto;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: gray;
    position: absolute;
    bottom: 31px;
    right: 679px;
}
.footer-instagram{
    width: 25px;
    height: 20px;
    position: absolute;
    bottom:142px;
    left:737px;
}

.footer-twitter{
    width: 25px;
    height: 20px;
    position: absolute;
    bottom:142px;
    left: 630px;
}

.footer-instagram,.footer-twitter{
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    padding: 16px;
    font-size:0;
    margin: 8px;
}

.footer-bottom-line{
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 80px;
    border: 1px solid #EEEEEE;
} */